.search {
	margin: 0 auto 40px;
	max-width: 600px;
	border-bottom: 1px solid #ccc;
}
.filter {
	display: flex;
	justify-content: center;
}
.filter label {
	display: flex;
	align-items: center;
	margin-right: 10%;
	cursor: pointer;
	opacity: 0.8;
	transition: all .4s;
}
.filter label:hover {
	opacity: 1;
}
.filter input {
	margin-right: 5px;
}
